import {classNames, filterDOMProps} from '@react-spectrum/utils';
import {HTMLElement} from 'react-dom';
import {mergeProps} from '@react-aria/utils';
import React, {RefObject} from 'react';
import styles from '@adobe/spectrum-css-temp/components/{{componentCSS}}/vars.css';
import {use {{~componentName~}} } from '@react-aria/{{packageName}}';
import {use {{~componentName~}} State} from '@react-stately/{{packageName}}';
import {useProviderProps} from '@react-spectrum/provider';

export interface {{componentName}}Props {
}

export const {{componentName}} = React.forwardRef((props: {{componentName}}Props, ref: RefObject<HTMLElement>) => {
  let defaults = {};
  let completeProps = Object.assign({}, defaults, useProviderProps(props));
  let state = use{{componentName}}State(completeProps);
  let ariaProps = use{{componentName}}(completeProps, state);

  return (
    <div {...mergeProps(filterDOMProps(completeProps), ariaProps)} {...ariaProps} ref={ref} className={classNames(styles, '')}>

    </div>
  );
});
