import {classNames, filterDOMProps} from '@react-spectrum/utils';
import {HTMLElement} from 'react-dom';
import React, {RefObject} from 'react';
// eslint-disable-next-line monorepo/no-internal-import
import styles from '@spectrum-css/{{componentCSS}}/dist/index-vars.css';
import {use {{~componentName~}} } from '@react-aria/{{packageName}}';
import {use {{~componentName~}} State} from '@react-stately/{{packageName}}';
import {useProviderProps} from '@react-spectrum/provider';

export interface {{componentName}}Props {
}

export const {{componentName}} = React.forwardRef((props: {{componentName}}Props, ref: RefObject<HTMLElement>) => {
  let defaults = {};
  let completeProps = Object.assign({}, defaults, useProviderProps(props));
  let state = use{{componentName}}State(completeProps);
  let ariaProps = use{{componentName}}(completeProps, state);

  return (
    <div {...filterDOMProps(completeProps)} {...ariaProps} ref={ref} className={classNames(styles, '')}>

    </div>
  );
});
