import {classNames, DOMRef, filterDOMProps, useDOMRef} from '@react-spectrum/utils';
import {HTMLElement} from 'react-dom';
import React from 'react';
import styles from '@adobe/spectrum-css-temp/components/{{componentCSS}}/vars.css';
import {use {{~componentName~}} } from '@react-aria/{{packageName}}';
import {use {{~componentName~}} State} from '@react-stately/{{packageName}}';
import {useProviderProps} from '@react-spectrum/provider';

export interface {{componentName}}Props {
}

function {{componentName}}(props: {{componentName}}Props, ref: DOMRef) {
  props = useProviderProps(props);
  let {styleProps} = useStyleProps(props);
  let state = use{{componentName}}State(props);
  let ariaProps = use{{componentName}}(props, state);
  let domRef = useDOMRef(ref);

  return (
    <div
      {...mergeProps(ariaProps, filterDOMProps(props))}
      {...styleProps}
      ref={domRef}
      className={classNames(styles, '', styleProps.className)}>

    </div>
  );
}

const _{{componentName}} = React.forwardRef({{componentName}});
export {_{{componentName}} as {{componentName}}};
